extends layout
block content
    .row
        .col-sm-4
            .list-group
                a.list-group-item(href='/batch/all') View Batches
                a.list-group-item(href='/student/addtobatch') Register existing student
                a.list-group-item(href='/student/addpayment') Add student payment
                a.list-group-item(href='/batch/create') Create new batch