extends layout
block content
    .row
        .col-sm-4
            .list-group
                a.list-group-item(href='/student/all') View Students
                a.list-group-item(href='/student/create') Add new student
                a.list-group-item(href='/student/addtobatch') Register existing student
                a.list-group-item(href='/student/addpayment') Add student payment